:root 
{
    --Purple: hsl(259, 100%, 65%);
    --Lightred: hsl(0, 100%, 67%);

    --White: hsl(0, 0%, 100%);
    --Offwhite: hsl(0, 0%, 94%);
    --Lightgrey: hsl(0, 0%, 86%);
    --Smokeygrey: hsl(0, 1%, 44%);
    --Offblack: hsl(0, 0%, 8%);
}

body 
{
    margin:0;
    font-family: "Poppins", sans-serif;
    padding: 5.43em 4.2% 14.8em;
    background-color: var(--Offwhite);
}

* {
    box-sizing: border-box;
}

*:first-child {
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}

.time 
{
    background-color: var(--White);
    box-shadow: 5px 5px 10px var(--Lightgrey);
    border-radius: 8px;
    border-bottom-right-radius: 64px;
    padding: 3.125em 7% 3.75em;
}


.time_header {
    border-bottom: 1px solid var(--Lightgrey);
    position: relative;
    padding-bottom: 3.875em;
}


.time_inputs{
    display: flex;
    gap: 5.8%;
}

.time_label {
    width: 33%;
    color: var(--Smokeygrey);
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8rem;
    max-width: 166px;
    position: relative;
    transition: color 300ms;
}

.time_label.invalid 
{
    color: var(--Lightred);
}



.time_input {
    font-size: 1.4rem ;
    font-family: inherit;
    width: 100%;
    padding: .2em .4em;
    border: solid 1px var(--Lightgrey);
    border-radius: 8px;
    transition: border-color 300ms;
}

.time_label.invalid .time_input
{
    border-color: var(--Lightred);
}

.time_btn-wrapper 
{
    width: fit-content;
    padding: 1.25em;
    background-color: var(--Purple);
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: background-color 300ms;
    
}

.time_btn-wrapper:hover 
{
    background-color: var(--Offblack);
}

.time_spans {
    padding-top: 4.5em;
}

.time_span {
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
}

.time_span .val {
    color: var(--Purple);
}



.time_error {
    opacity: 0%;
    pointer-events: all;
    position: absolute;
    bottom: 0px;
    transform: translateY(100%);
    color: var(--Lightred);
    font-weight: lighter;
    font-style: italic;
    text-transform: none;
    letter-spacing: normal;
    font-size: 1rem;

}
.time_label.invalid .time_error
{
    opacity: 100%;
}

@media (min-width: 1200px)
{
    .time {
        padding: 3.5em 7.6% 4.68em;
    }
    .time_header {
        padding-bottom: 3em;
    }
    
    .time_input 
    {
        font-size: 2rem;
    }

    .time_btn-wrapper {
        right: 0px;
        left: initial;
        transform: translate(0%, 50%);
    }

    .time_spans {
        padding-top: 4.93em;
    }

    .time_span {
        font-size: 6rem;
    }
}